.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.error-message {
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #dc3545;
  font-size: 18px;
}

.error-message p {
  margin: 0;
  padding: 10px;
}
